{{render "activityInput"}}

{{#each groupByDay}}
	<div class="row day">
		<div class="small-2 columns">
			<h4>{{logDate day}}</h4>
		</div>
		<div class="small-10 columns">
			<ul class="no-bullet">
				{{#each activities}}
					<li class="activity">{{.}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
{{/each}}
