<div class="row collapse">
	<div class="small-8 columns small-offset-4">
		<div class="activity-highlight tags"></div>
	</div>
</div>
<div class="row collapse">
	<div class="small-8 columns small-offset-4">
		<input type="text">
	</div>
</div>
