<div class="log-row">
<div class="row">
	<div class="small-10 small-offset-1 columns">
		<div class="log">
			<div class="row collapse">
				<div class="small-3 columns">
					<h2 class="text-center logo">Today, I</h2>
				</div>
				<div class="small-9 columns">
					{{input type="text" value=text placeholder="did something awesome" action="create"}}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
