<div class="row log-row">
	<div class="small-2 columns">
		<h3 class="text-right">Today, I</h3>
	</div>
	<div class="small-10 columns">
		{{input type="text" value=text placeholder="did something awesome" action="save"}}
	</div>
</div>
