<div class="row collapse">
	<div class="small-4 columns small-offset-8">
		<div class="activity-highlight calendar"></div>
	</div>
</div>
<div class="row collapse">
	<div class="small-4 columns small-offset-8 calendar">
		{{date-picker selectedDate=date select="changeDate"}}
	</div>
</div>
