<div class="row collapse">
	<div class="small-5 columns small-offset-7">
		<div class="activity-highlight delete"></div>
	</div>
</div>
<div class="row collapse">
	<div class="small-5 columns small-offset-7">
		Deleting is forever, are you sure? <a class="right button alert inline">Yes</a>
	</div>
</div>
