{{render "activityInput"}}

<div class="row">
	<div class="small-12 columns">
		{{#each}}
			<h4 class="activityTitle">{{logDate day}}, I</h4>
			<ul>
				{{#each activities}}
					<li class="activity">{{.}}</li>
				{{/each}}
			</ul>
		{{/each}}
	</div>
</div>

<div class="footer">
	<div class="row full">
		<div class="large-12 columns">
			<p class="copyright">Copyright &copy; John Hungerford, 2014</p>
		</div>
	</div>
</div>
