<div class="row log-row">
	<div class="small-2 columns">
		<h3 class="text-right">Today, I</h3>
	</div>
	<div class="small-10 columns">
		<form>
			<input type="text" placeholder="did something awesome" />
		</form>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		{{#each}}
			<h4>{{day}}, I</h4>
			<ul>
				{{#each activities}}
					<li>{{.}}</li>
				{{/each}}
			</ul>
		{{/each}}
	</div>
</div>

<div class="footer">
	<div class="row full">
		<div class="large-12 columns">
			<p class="copyright">Copyright &copy; John Hungerford, 2014</p>
		</div>
	</div>
</div>
